/* Text Color Variables */
:root {
	--background: #292939;
	--error: #F2F2E6;
	--line: #ED6767;
	--text: #793F5C;
}

/* Background Color */
body {
	background-color: var(--background);
}

/* just the text */
.error {
	color: var(--error);
	text-align: center;
	font-size: 150px;
	font-family: Futura;
	margin: auto;
	position: relative;
}

/* Centering 404 text */
.container {
	position: absolute;
	top: 35%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
 	transform: translate(-50%,-50%);
}

/* Line styling */
.line {
	background-color: var(--line);
	width: 100%;
	height: 5px;
	border-style: none;
	top: 50%;
	margin: auto;
}

/* Styling for first line */
.text {
	color: var(--text);
	font-size: 20px;
	font-family: Futura;
}

/* Centers the link text */
h3 {
	text-align: center;
}

/* Style of link line */
.link {
	color: var(--text);
	font-size: 20px;
	font-family: Futura;
	text-align: center;
	text-decoration: none; 
}